{% extends "base.html" %}
{% block title %}Alle Blogartikel &ndash; {{ super() }}{% endblock %}
{% block content %}
<section id="blogposts">
  <h1>Alle Blogartikel</h1>
  <ol id="post-list">
    {% for article in dates_page.object_list %}
    <li><article class="hentry">
      <header>
        <time class="published" datetime="{{ article.date.isoformat() }}"><i class="symbl-time fa fa-lg l-svg"></i> {{ article.locale_date }} </time>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
      </header>
      <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
      <footer class="post-info">
        <address class="vcard author"><i class="symbl-author fa fa-lg l-svg"></i>
          {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        </address>
      </footer><!-- /.post-info -->
    </article></li>
    {% endfor %}
  </ol><!-- /#posts-list -->
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}
</section>
{% endblock %}
